[mariadb]
# MariaDB defaults to authenticate based on the Unix user commnicating with the
# socket. We need `nobody` user to be able to connect as root, thus disable the
# `unix_socket` plugin and do not set any grant to give all users FULL ACCESS.
disable_unix_socket
enable_skip_grant_tables
